#logout{
    padding: 5px 15px;
    background-color: rgb(133, 13, 13);
    border-radius: 6px;
    color: white;
    font-weight: 700;
}
#navbarText{
    margin-left: 800px;
}
.nav{
    margin-left: 95px;
}

.text{
    font-size: 20px;
}